/*triad palette: http://paletton.com/#uid=33s0u0kllll9G-pfwrprafhyZ9d
  tetrad palette: http://paletton.com/#uid=73s0u0klvlr9V-ifPrnrsfhzH9b*/

body {
	background-color: hsla(13, 50%, 39%, 1);
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 100%;
}

p {
	font-size: .875em;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1em;
}

ul {
	list-style-type: circle;
}

.header {
    position: fixed;
    top: 0;
	width: 100%;
	text-align: center;
	z-index: 100;
	background-color: #27556C;
}

/*Changes content width and margines*/
@media screen and (max-width: 551px) {
	div.content {
		width: 86%;
		margin: 0 7%;
		top: 87px;
	}
}

.header-container {
	max-width: 70%;
	margin: 12px 15%;
}
.domain-info {
	color: #ffffff;
	text-decoration: none;
}

.domain-name {
	font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
	border-bottom: 2px solid #757575;
	vertical-align: middle;
	display: table-cell;
    margin: 14px;
    font-family: 'IBM Plex Serif', serif;
}

.content {
	width: 70%;
	position: relative;
	margin: 0 15%;
	margin-bottom: 15px;
	top: 55px;
	transition: margin .2s ease;
}

.paragraph-block.myinfo {
	background-color: hsla(43, 59%, 62%, 1);
	text-align: center;
	padding: 15px 0px;
}

.myinfo-link {
	white-space: nowrap;
}

.paragraph-block {
	padding: 15px;
	overflow: hidden;
	background-color: #FAFAFA;
	margin: 16px 0px;
	box-shadow: 1px 1px 1px 0px #828282;
	border-radius: 2px;
}