/*triad palette: http://paletton.com/#uid=33s0u0kllll9G-pfwrprafhyZ9d
  tetrad palette: http://paletton.com/#uid=73s0u0klvlr9V-ifPrnrsfhzH9b*/

  body {
	background-color: hsla(185, 117%, 31%, 1);
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
	font-size: 100%;
}

p {
	font-size: .875em;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1em;
}

ul {
	list-style-type: circle;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 100;
    background-color: #383838;
    height: 80px;
    color: black;
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
  }


.myinfo-link {
	display: inline-block;
	margin: 2px 0;
	background-color: hsla(52, 100%, 39%, 1);
	color: black;
	padding: 5px;
	border-radius: 3px;
	box-shadow: 1.6px 1.6px 3px 0px hsla(52, 100%, 16%, 1);
	text-decoration: none;
}

.myinfo-link:hover {
    background-color: hsla(52, 100%, 43%, 1);
    color: black;
}

.myinfo-link:active {
    box-shadow: inset 1px 1px 5px 0.5px hsla(55, 47%, 23%, 1);
}
  
/*Changes content width and margins*/
@media screen and (max-width: 551px) {
	div.content {
		width: 86%;
		margin: 0 7%;
	}
	.domain-name {
		transition: font-size .5s ease;
	}
}

@media screen and (max-width: 450px) {
	.domain-name {
		font-size: 21px;
	}
}

@media screen and (max-width: 386px) {
	.header {
		position: relative;
	}
	div.content {
		top: 0px;
	}
}

.domain-info {
	color: #ffffff;
	text-decoration: none;
}

.domain-name {
	font-family: serif;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: 2px solid #757575;
	margin: 14px;
	font-family: 'IBM Plex Serif', serif;
	color: hsl(0, 0%, 100%);
}

.content {
	width: 70%;
	position: relative;
	margin: 0 15%;
	margin-bottom: 15px;
	top: 77px;
	transition: width .5s ease;
}

.paragraph-block.myinfo {
	background-color: #747474;
	text-align: center;
	padding: 8px 0px;
	display: flex;
	justify-content: space-evenly;
}

.paragraph-block {
	padding: 15px;
	overflow: hidden;
	background-color: #FAFAFA;
	margin: 16px 0px;
	/* box-shadow: 1px 1px 1px 0px #828282; */
	border-radius: 2px;
}