body {
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	margin: 6em 6em;
	font-weight: bold;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	float: left;
	margin-right: 10px;
}
li:last-of-type {
	margin-right: 0;
}

a {
	display: block;
}

a:hover img {
	box-shadow: 6px 6px 6px rgba(0,0,0,.3);
}

a:hover #img1, a:focus #img1 {
    transform: rotate(-3deg);
}

a:hover #img1 {
    transform: rotate(-3deg) scale(1.5);
}

a:hover #img2, a:focus #img2 {
    transform: rotate(5deg);
}

a:hover #img3, a:focus #img2 {
    transform: rotate(-7deg);
}

a:hover #img4, a:focus #img2 {
    transform: rotate(2deg);
}

img {
	width: 200px;
	height: 150px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.4);
	transition: transform 0.3s linear;
}